<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iusmaharjan.dpc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <application
        android:name=".DPCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dpc.DPCActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".archive.MainActivity" />

        <!--
        Device Admin requires BIND_DEVICE_ADMIN permission to prevent other apps from abusing
        the device admin app
        -->
        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/description_device_admin"
            android:label="@string/label_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <!-- Metadata required for becoming a device admin -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <!-- DEVICE_ADMIN_ENABLED is the primary intent action to be handled -->
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>